.flex{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flex div{
    flex: 0 0 50%;
    box-sizing: border-box;
}

.nav{
    position: fixed;
}
.navbar{
     position:sticky;
      top:0;
      width:100%;
      z-index:100
}